doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Homepage
  body
    h1 Welcome to my Full-Stack Contact list!

    h2 If you would like to continue to the list itself please click the link below

    a(href="/contacts" text="Continue To Contacts!") Continue to Contacts

